@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url(./sobre.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --preto: #09090b;
  --super-preto: #020202;
  --branco: #e1e1e1;
   --texto-cinza: #c8cbd1;
  --cor-transparente: #09090985;
  --cor-hover: #d4dde7;
  --cor-hover-two: #000000;
  --cor-principal: #0b6ceb;
}

.darkmode {
  --preto: #e1e1e1;
  --super-preto: #ffffff;
  --branco: #09090b;
  --cor-transparente: #e1e1e179;
  --texto-cinza:#6b7280;
  --cor-principal: #2871d1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--preto);
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--branco);
}

ul {
  list-style: none;
}

.btn {
  border: 1px solid var(--branco);
  color: var(--branco);
  border-radius: 2rem;
  background-color: transparent;
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--cor-hover);
  color: var(--cor-hover-two);
}

/* ! HEADER  */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--super-preto);
  gap: 1rem;
  position: fixed;
  z-index: 99;
  background-color: var(--cor-transparente);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 1.2rem;
  color: var(--branco);
  font-weight: 600;
}

.header-lista {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header-button svg {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.67rem;
  color: var(--branco);
  cursor: pointer;
}

.header-lista-item {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lista-item a:hover {
  color: var(--texto-cinza);
}

.header-lista-item:first-child {
  margin-right: auto;
}

.btn-dark-mode-toogle {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark-mode-toogle svg {
  width: 24px;
  height: 24px;
  color: var(--branco);
}

#btn-dark-mode-toogle svg:last-child {
  display: none;
}

.darkmode #btn-dark-mode-toogle svg:first-child {
  display: none;
}

.darkmode #btn-dark-mode-toogle svg:last-child {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--cor-transparente);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1rem;
}

.sidebar a {
  width: 100%;
}

.header-button {
  display: none;
}

.leng {
  padding-top: 0.66rem;
}

@media (max-width: 800px) {

  .header {
    background-color: var(--preto);
    backdrop-filter: none;
  }
  .hideOnMobile {
    display: none;
  }

  .header-button {
    display: block;
  }

  .leng {
    display: none;
  }
}

/* ! HOME  */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}

.conteudo-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem-home img {
  width: 20rem;
}

.info-home {
  text-align: center;
}

.titulo-home {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--branco);
}

.desc-home {
  margin-bottom: 0.5rem;
  color: var(--cor-principal);
}

.icon-home {
  display: flex;
  gap: 1rem;

}

.icon-home .i {
  font-size: 2rem;
  color: var(--branco);
}

/* ! sobre */

.sobre {
  width: 100%;
  height: 75vh;
  padding-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.sobre-img img{
  width: 20rem;
}

.sobre-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sobre-textos h3 {
  color: var(--branco);
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.sobre-textos p {
  font-size: 0.9rem;
  color: var(--texto-cinza);
  text-align: center;
  width: 50%;
  margin-left: 20rem;
}

.sobre-paragrafo {
  padding-bottom: 1rem;
}

.sobre-paragrafo span {
  color: var(--cor-principal);
}

@media (min-width: 801px) {
  .sobre {
    padding-top: 8rem;
    align-items: center;
  }

  .sobre-textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  
  .sobre-textos p {
    margin-left: 0;
  }


}

@media (max-width: 800px) {

  .sobre {
    padding-top: 3.8rem;
    align-items: center;
    height: 90vh;
  }

.sobre-textos p, .sobre-textos h3 {
    text-align: left;
    padding: 0 2rem;
  }
  
  .sobre-textos p {
  font-size: 0.9rem;
  margin-left: 0;
  width: 100%;
  }

  .sobre-textos h3 {
    font-size: 1.3rem;
  }

  .sobre-img {
    justify-content: left;
  }

}

/* ! skills */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.card-info {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.cards h1 {
  color: var(--branco);
  font-size: 1.3rem;
}

.cards h2 {
  font-size: 0.9rem;
}

.card {
  width: 9.375rem;
  height: 6.25rem;
  background-color: var(--cor-principal);
  border: 2px solid #1e5194;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0.625rem;
  cursor: pointer;
}


.card i {
  font-size: 2.5rem; 
  margin-bottom: 0.3rem;
  transition: 0.2s;
}


@media (max-width: 800px) {
  .card-info {
    justify-content: left;
    padding: 0 2rem;
    margin-top: 0;
  }
  
  .cards-container {
    justify-content: left;
    padding: 0 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2(1fr 1fr);
  }

  .card {
    margin-left: 0;
  }
}