@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --preto: #09090b;
  --super-preto: #020202;
  --branco: #e1e1e1;
  --texto-cinza: #6b7280;
  --cor-transparente: #09090985;
  --cor-hover: #d4dde7;
  --cor-hover-two: #000000;
}

.darkmode {
  --preto: #e1e1e1;
  --super-preto: #ffffff;
  --branco: #09090b;
  --cor-transparente: #e1e1e179;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--preto);
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--branco);
}

ul {
  list-style: none;
}

.btn {
  border: 1px solid var(--branco);
  color: var(--branco);
  border-radius: 2rem;
  background-color: transparent;
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--cor-hover);
  color: var(--cor-hover-two);
}

/* ! HEADER  */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--super-preto);
  gap: 1rem;
}

.logo {
  font-size: 1.2rem;
  color: var(--branco);
  font-weight: 600;
}

.header-lista {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header-button svg {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.67rem;
}

.header-lista-item {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-lista-item a:hover {
  color: var(--texto-cinza);
}

.header-lista-item:first-child {
  margin-right: auto;
}

.btn-dark-mode-toogle {
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark-mode-toogle svg {
  width: 24px;
  height: 24px;
  color: var(--branco);
}

#btn-dark-mode-toogle svg:last-child {
  display: none;
}

.darkmode #btn-dark-mode-toogle svg:first-child {
  display: none;
}

.darkmode #btn-dark-mode-toogle svg:last-child {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--cor-transparente);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1rem;
}

.sidebar a {
  width: 100%;
}

.header-button {
  display: none;
}

.leng {
  padding-top: 0.66rem;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .header-button {
    display: block;
  }

  .leng {
    display: none;
  }
}

/* ! HOME  */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.conteudo-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem-home img {
  width: 20rem;
}

.info-home {
  text-align: center;
}

.titulo-home {
  font-size: 2rem;
  font-weight: 600;
  color: var(--branco);
}

.desc-home {
  margin-bottom: 0.5rem;
  color: var(--branco);
}

.icon-home {
  display: flex;
  gap: 1rem;

}

.icon-home i {
  font-size: 2.5rem;
  color: var(--branco);
}